body {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
  margin: 1rem 3rem;
}

/* TOP NAV */
.main-nav {text-align: center;}
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.cart, #search {
  align-self: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-bottom: 1px dotted grey;
    margin-bottom: 2em;
  }
  .cart {margin-bottom: 1em;}
  a.nav-links {float: left;}
}
.logo {
  background-image: url("./ffm_logo.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 15vh;
}
.search {
  border: none;
  border-bottom: 1px solid #e72f51;
  padding: .5rem 0;
  font-size: 1em;
  width: 100%;
}
.search:focus {
  outline: none;
  border-bottom: 2px solid #e72f51;
}
/* SEARCH INPUT PLACEHOLDER - SHIFT RIGHT IN FOCUS */
.search::-webkit-input-placeholder {text-indent: 0px; transition: text-indent 0.5s ease;}
.search::-moz-placeholder {text-indent: 0px; transition: text-indent 0.5s ease;}
.search:-moz-placeholder {text-indent: 0px; transition: text-indent 0.5s ease;}
.search:-ms-input-placeholder {text-indent: 0px; transition: text-indent 0.5s ease;}
.search:focus::-webkit-input-placeholder {text-indent: 1000px; transition: text-indent 0.5s ease;}
.search:focus::-moz-placeholder {text-indent: 1000px; transition: text-indent 0.5s ease;}
.search:focus:-moz-placeholder {text-indent: 1000px; transition: text-indent 0.5s ease;}
.search:focus:-ms-input-placeholder {text-indent: 1000px; transition: text-indent 0.5s ease;}

.nav-links {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  float: right;
}
.nav-links:hover {
  color: #e72f51;
}

/* FRUIT LIST */
.fruit-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.card img{
  width: 100%;
  height: 35em;
  object-fit: cover;
}
.read-more {color: #e72f51;}
.btn {
  background: #e72f51;
  color: #fff;
  text-decoration: none;
  padding: 1em 1.5em;
  border-radius: 2em;
  cursor: pointer;
  border-style: none;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}
@media screen and (max-width: 1200px) {
  .card img{
    width: 100%;
    height: 20em;
    object-fit: cover;
  }
}
@media screen and (max-width: 900px) {
  .fruit-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .card img{
    width: 100%;
    height: 25em;
    object-fit: cover;
  }
}
@media screen and (max-width: 600px) {
  body {
    margin: 1rem;
  }
  .fruit-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .card img{
    width: 100%;
    height: 20em;
    object-fit: cover;
  }
}

/* SINGLE FRUIT PAGE */
.single-fruit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.single-fruit-img {
  max-width: 45vw;
  object-fit: cover;
}

.single-fruit .back {
  max-width: 6vw;
  min-width: 80px;
}

.fruit-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fruit-imgs img {
  margin: 2em 0 0 0;
  object-fit: cover;
  height: 20em;
  max-width: 15em;
  min-width: 5em;
}

@media screen and (max-width: 1234px) {
  .single-fruit-img {
    height: 70vh;
    object-fit: cover;
  }
  .fruit-imgs img {
    height: 15em;
  }
}

@media screen and (max-width: 900px) {
  .fruit-imgs {display: none;}
  .single-fruit-img {
    max-width: 45vw;
    max-height: 50vh;
  }

}

@media screen and (max-width: 768px) {
  .single-fruit-img {min-width: 100%;}
  .single-fruit {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .fruit-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    object-fit: cover;
  }

  .fruit-imgs img {
    margin: 2em 0 0 0;
    max-width: 25vw;
    height: 15em;
  }
}

/* FOOTER */
.footer {
  margin-top: 2em;
  margin-left: -47.997px;
  position: absolute;
  width: 100%;
  height: 7vh;
  background-color: #e72f51;
}

.add-fruit {
  color: #fff;
  text-decoration: none;
  padding: 1.3em;
  float: right;
}

.admin-login {
  color: #fff;
  text-decoration: none;
  padding: 1.3em;
  float: right;
}

.admin-login:hover {color: #d8d8d8;}

/* LOGIN */
.logo-login {
  background-image: url("./ffm_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 15vh;
}

form {text-align: center;}

label {
  display: block;
  letter-spacing: .2em;
  padding-top: 2em;
  text-align: center;
}

.label-text {
  display: block;
  color: #9B9B9B;
  cursor: text;
  font-size: 1em;
  line-height: 2em;
  text-transform: uppercase;
}

.login-form {
  font-size: 1em;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #e72f51;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}

.login-form:focus {
  max-width: 100%;
  width: 30em;
}

.login-btn {
  background-color: transparent;
  border: 2px solid #e72f51;
  border-radius: 1em;
  cursor: pointer;
  font-size: 1em;
  color: #9B9B9B;
  margin-top: 2em;
  padding: .5em 1.5em;
  text-transform: uppercase;
  transition: all 200ms;
}

.login-btn:hover {
  background-color: #e72f51;
  color: white;
  outline: 0;
}

.hbtn {
  border: none;
  margin-top: 3em;
}

.home-btn {
  background: #e72f51;
  color: #fff;
  text-decoration: none;
  padding: 1em 1.5em;
  border-radius: 2em;
  cursor: pointer;
  border-style: none;
}

.home-btn:hover {
  background: #eaeaea;
  color: #333;
}

/* ADD FRUIT FORM */
.add-fruit-form {
  font-size: 1em;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #e72f51;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}

.add-fruit-form:focus {
  max-width: 100%;
  width: 30em;
}

#add-fruit-header {text-align: center;}

/* CART */
.cart-item-li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
.cart-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
.cart-item-image {
  max-width: 15vw;
  min-width: 10em;
  object-fit: cover;
}
.remove-button {
  padding: 0;
  border-style: none;
  color: #e72f51;
  border-bottom: 1px solid #e72f51;
  cursor: pointer;
}